{% extends "base.html" %}
{% block content %}
<div class="upload-container">
    <style>
        .upload-container {
            background-color: #ffffff;
            border-radius: 20px;
            padding: 50px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        h1 {
            margin-bottom: 20px;
        }
        label {
            font-size: 18px;
        }
        input[type="file"] {
            display: block;
            margin: 10px auto;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            cursor: pointer;
        }
        input[type="submit"] {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
    <h1>Select File To Upload Asset Data</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <label for="file">Select a file:</label>
        <input type="file" name="file" id="file">
        <br>
        <input type="submit" value="Upload File">
    </form>
</div>

    
{% endblock %}